@model IEnumerable<KinneretCollegeTimeSheet.Models.Report>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
  
    <a asp-controller="Reports" asp-action="Create" asp-route-id="@ViewBag.Id">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
       
                <th>
                    @Html.DisplayNameFor(model => model.date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.timeStart)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.timeEnd)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.discription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserCourseId)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
         
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.timeEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.discription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserCourseId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
