@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "כניסה למערכת";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    <div class="col-md-4" style="padding-right:5%">
        <section>
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label>אימייל</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>סיסמה</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                            זכור אותי

                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-action="ForgotPassword">שכחתי סיסמה</a>
                    </p>
                    @*<p>
                            <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">הרשמה למערכת</a>
                        </p>*@
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2" style="padding:5%">
        <section>
            <h4>שירות הכניסה למערכת</h4>
            <hr />
            @{
                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                if (loginProviders.Count == 0)
                {
                    <div>
                        <p>
                            סיסמה היא אות מוסכם המשמש כאמצעי זיהוי לשם בקרת גישה.
                            הזן כאן הסיסמה שקיבלתה מרכז החונכות.
                            אם אין לך שם משתמש וסיסמה תפנה לאכז החונכות
                        </p>
                    </div>
                }
                else
                {
                    <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {
                                    <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>


</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
