@model IEnumerable<KinneretCollegeTimeSheet.Models.ApplicationUser>

@{
    ViewData["Title"] = "חונכים";
}


@*asp-controller="Account" asp-action="Register"*@

<h2>רשימת החונכים</h2>
<div>
    <div class="panel-heading" id="AddUserButton">
        <a href="#" class="btn btn-primary col-lg-12" data-toggle="modal" onclick="AddEditEmployee('/Users/Register')">הוספת חונך למערכת</a>
    </div>
    <hr />
</div>

<hr />

<!-- DataTables Example -->
<div class="card mb-3">
  
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" cellspacing="0">
                <thead style="text-align:center;">
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.CertificateID)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.Email)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.PhoneNumber)

                        </td>
                        <td></td>
                    </tr>
                </thead>
                <tfoot style="text-align:center;">
                    <tr>
                        <td>
                            @Html.DisplayNameFor(model => model.CertificateID)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.Email)
                        </td>
                        <td>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </td>
                        <td>
                            פעולות
                        </td>

                    </tr>
                </tfoot>
                <tbody style="text-align:center;">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CertificateID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>

                                @*<a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id"><i class="glyphicon glyphicon-wrench"></i> <text>  עדכן  </text> </a>*@

                                <a href="#" class="btn btn-primary btn-sm" onclick='AddEditEmployee("/Users/Edit/@item.Id")'><i class="glyphicon glyphicon-wrench"></i> <text>  עדכן  </text></a>

                                <a class="btn btn-success btn-sm"  onclick='AddEditEmployee("/Users/Details/@item.Id")'><i class="glyphicon glyphicon-user"></i> <text>  פרטים  </text> </a>


                                @*<a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id"><i class="glyphicon glyphicon-remove"></i> <text>  מחק  </text></a>*@

                                <a href="#" class="btn btn-danger btn-sm" onclick='AddEditEmployee("/Users/Delete/@item.Id")'><i class="glyphicon glyphicon-remove"></i> <text>  מחק  </text></a>


                                @*<a asp-controller="UserCourses" asp-action="Create" asp-route-id="@item.Id" asp-route-returnurl="@ViewData["ReturnUrl"]">Add Course</a> |*@

                                <a class="btn btn-primary btn-sm" asp-controller="UserCourses" asp-action="GetCoursesByUser" asp-route-id=@item.Id>קורסים</a>

                                <a class="btn btn-primary btn-sm" asp-controller="UserCourses" asp-action="Create" asp-route-id=@item.Id>הוספת קורס</a>

                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h3 class="modal-title">AddEdit Employee</h3>
            </div>
            <div class="modal-body container center-block" id="myModalBodyDiv1">


            </div>


        </div>

</div>




<script type="text/javascript">
    var AddEditEmployee = function (url) {
        $("#myModalBodyDiv1").load(url, function () {
            $("#myModal1").modal('show');

        })

    }

</script>



